.datasetTrendsContainer {

  &__trendContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    @include query(max-w-850){
      flex-direction: column;
    } 
  }

  &__trend {
    max-width: 28rem;
    padding: 1rem 2rem 1rem 0;

    @include query(max-w-850){
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    & h2 {
      font-size: 9.6rem;
      color: $green;
      font-weight: 400;
    }

    & h5 {
      margin-bottom: 1rem;
    }

    & p {
      font-size: 1.6rem;

      @include query(max-w-850){
        text-align: center;
      }
    }  
  }
}