
 body {
  //TODO - Set general font family 
  font-weight: 400;
  line-height: 1.7;
  //TODO - Set general font color
}

a {
  text-decoration: none;
  //TODO - Set general color of links

}



h1 {
  //TODO - Adjust font size with project design
  font-size: 3.5rem;
}

h2 {
  //TODO - Adjust font size with project design
  font-size: 3rem;
}

h3 {
  //TODO - Adjust font size with project design
  font-size: 2rem;
  
}

h4 {
  //TODO - Adjust font size with project design
  font-size: 1.8rem;
}

h5 {
  //TODO - Adjust font size with project design
  font-size: 1.6rem;
}

p {
  //TODO - Set Font family for p elements if different from general
  //TODO - Adjust font size with project design
  font-size: 1.5rem; 
}