 body {
  font-weight: 400;
  line-height: 1.7;
  font-family: $main-font;
  color: $primary-dark-grey;
}

a, .searchIcon {
  cursor: pointer;
  text-decoration: none;
  color: $primary-dark-grey;
  transition: all .3s;
}

.a--transparent, .searchIcon--transparent {
  cursor: pointer;  
  text-decoration: none;
  color: $color-white;
  transition: all .3s;
}

a:hover, .searchIcon:hover, .liTransparent:hover {
  cursor: pointer;
  color: $primary-green
}

.liTransparent {
  color: $color-white;
  transition: all .3s;
}





h1 {
  //TODO - Adjust font size with project design
  font-size: 4.8rem;
}

h2 {
  //TODO - Adjust font size with project design
  font-size: 1.8rem;
}

h3 {
  //TODO - Adjust font size with project design
  font-size: 1.8rem;
  
}

h4 {
  //TODO - Adjust font size with project design
  font-size: 1.8rem;
}

h5 {
  //TODO - Adjust font size with project design
  font-size: 1.6rem;
}

p {
    //TODO - Adjust font size with project design
    font-size: 1.4rem; 
}

li{
  font-size: 1.4rem;
  list-style: none;
}


