//Colors 

$color-black: #000;
$color-white: #FFF;

$primary-dark-grey: #334455; 

$primary-green: #00AAAA;
$primary-green-dark: #008080;


//Todo - Set up colors variables for project - [ Waiting on design ]


//Todo - Set up font family variables
$main-font: 'Poppins', sans-serif;