//Colors 

$black: #000;
$white: #FFF;

$grey :#F8F8F8;
$dark-grey: #334455; 
$light-grey: #F6F8FA;

$green: #00AAAA;
$dark-green: #008080;

//Main Font
$main-font: 'Poppins', sans-serif;

//Border Radius
$border-radius: 8px;
$border-solid-grey: 1px solid rgba($dark-grey, 0.16);