.navBar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: $color-white;
  border-bottom: 1px dotted $primary-dark-grey                ;

  &--transparent{
    background: none;
    border-bottom: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  
  
  &__titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;

    @include query(max-w-700){
      margin-left: 5%;
    }
    @include query(max-w-850){
      justify-content: flex-start;
      margin-left: 5%;
      
    }

    & img {
      padding: 0 1rem 0 0;
      width: 6rem;
    }
  }

  &__title{
    line-height: 1.8rem;

    &--bold {
      font-weight: 900;
    }

    & p{
      font-size: 2rem;
    }

    &--transparent {
      color: $color-white
    }
  }

  &__menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;

    @include query(max-w-700){
      margin-right: 5%;
    }

    @include query(max-w-600){
      display: none;
    }

    & li {
      margin: 0 1.7rem 0 1.7rem
    }
  }

  &__searchIcon {
    margin-left: 1.7rem;
    font-size: 2rem;
  }


  &__menu {
    display: none;
    padding-right: 2rem;
    
    @include query(max-w-600){
      display: inline;
    }
    
    & i{
      color: $color-white;
      font-size: 4rem;
      transition: all .3s;

      &:hover{
        color: $primary-green;
        cursor: pointer;
      }

    }

  }

}