.dataSetCardsContainer{
  width: 100vw;
  @include flexCenter;
  background-color: $primary-grey;
  padding: 4rem 0 6rem 0;
  

  &__container{
    width: 75%; 
    @include flexCenter;
    flex-direction: column;   
  }

  &__pagination {
    width: 100%;
    padding: 2rem;
    text-align: left;
  
  }
}