.submitNewDataSetBanner{
  width: 100vw;
  @include flexCenter;
  margin: 8rem 0 8rem 0;

  &__container {
    width: 75%;
    @include flexStart;
    flex-direction: column; 

    @include query(max-w-1000){
      justify-content: center;
      align-items: center;
      width: 80%;
    }

    @include query(max-w-850){
      width: 85%;
    }

  }

  &__bttContainer {
    width: 100%;
    @include flexStartCenter;

    @include query(max-w-1000){
    justify-content: center;

    }
  }

}