
.tagsContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;   


    &__tag {
      background-color: $primary-light-grey;
      border-radius: 4px;
      padding: .2rem .5rem;
      margin: .5rem;
      transition: all .3s;
  
      & p {
        font-size: 1rem;
       }
  
      &:hover{
        cursor: pointer;
        background-color: rgba($primary-green, 0.2);
        color: $primary-green;
      }
  }

  }