.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 0 4rem 0;


  @include query(max-w-1000){    
    justify-content: center;
    align-items: center;
  }

  & h2 {

    @include query(max-w-550){
      font-size: 2.6rem;
    }

    @include query(max-w-325){
      font-size: 2.5rem;
    }
  }

  & h3 {
    font-weight: 400;
    width: 60%;

    @include query(max-w-1200){   
      width: 80%;
    }

    @include query(max-w-1000){
      text-align: center;
    }

  
    @include query(max-w-550){
      font-size: 1.7rem;
      width: 90%;
    }

    @include query(max-w-400){
      font-size: 14px;
    }
  } 
 
}