.submitDatasetForm {
  width: 100vw;
  @include flexCenter;

  & textarea {
    width: 100%;
    margin: 1rem 0;    
  }

  & input {
    margin: 1rem 0;
  }

  &__containerSeparator {
    border-top: 1px dotted rgba($color-black, 0.6);
    margin: 1rem 0;
  }


  &__container {
    width: 40%;
    @include flexCenter;
    flex-direction: column;

    @include query(max-w-1000){
      width: 60%;
    }

    @include query(max-w-775){
      width: 80%;
    }
  }

  &__titleContainer {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    padding: 5rem 0;

    & h1 {
      @include query(max-w-550) {
        font-size: 3rem;
      }
    }

    & p {
      text-align: center;
    }
  }

  &__form {
    width: 100%;
    @include flexCenter;
    flex-direction: column;

    & section {
      width: 100%;
      padding: 1rem 0;
    }
  }

  &__personalDetails{
    border-top: 1px dotted rgba($color-black, 0.6);
    margin: 1rem 0;  
  }


  &__datasetDetails {
    border-top: 1px dotted rgba($color-black, 0.6);
    margin: 1rem 0;
  

    & i {
      padding: 0rem 1rem 0 1rem;
      font-size: 2rem;
      color: rgba($color: $color-black, $alpha: .6);

      @include query(max-w-480){
      display: none;
      }
    }

    &--horizontal {
      width: 100%;
      @include flexBetweenCenter;
     
      @include query(max-w-480){
        flex-direction: column;
      }

    }

  }
  
  &__SDGGoals {
    @include flexStart;
    flex-direction: column;
    flex-wrap: wrap;
    
    &--title{
      font-weight: 700;
      font-size: 1.6rem;    
    }
  }


  &__checkboxContainer{
    @include flexStart;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 55rem;
    padding-top:  2rem ;

    @include query(max-w-700) {
      height: 100%;
    }

    & p {
      padding-left: 3.5rem;
      font-weight: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  &__keywords {
    width: 100%;
    @include flexStart;
    flex-direction: column;
  }


  &__additionalInfo{
    width: 100%;
    @include flexStart;
    flex-wrap: wrap;
  }

  &__optionalTitle {
    @include flexCenter;
    transition: all .2s;

    & i {
      color: $primary-green;
      font-size: 2rem;
      padding-right: 1rem;
    }

    &:hover {
      cursor: pointer;
      color: $primary-green;
    }
  }


  &__requiredFields {    

    & p {
      font-size: 1.6rem;
      margin: 1rem 0;
      color: rgba($primary-dark-grey, .6);
    }
  }

  &__bttContainer {
    margin-bottom: 10rem;
  }
}